.fa {
  font-size: 17px;
  padding-right: 8px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 12px;
  width: 300px;
}

.sidebar__navigation {
  background-color: #121212;
  border-radius: 8px;
  padding: 16px 0 0 16px;
}

.sidebar__navigation .logo {
  background: #121212;
  display: flex;
  border-radius: 8px;
  padding: 16px 0 0 16px;
}

.logo img {
  width: 80px;
}

.sidebar nav ul {
  margin-top: 20px;
  padding: 0 20px 10px 20px;
}

.sidebar ul li {
  padding: 10px 0;
  justify-content: space-between;
}

.sidebar nav ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  justify-content: space-between;
}

.library {
  background-color: #121212;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 4px 8px;
  color: #b3b3b3;
  font-weight: 600;
  font-size: 14px;
  margin-top: 8px;
}

.library .library__content {
  display: flex;
  justify-content: space-between;
}

.library .library__button {
  display: flex;
  margin-right: 10px;
  color: #b3b3b3;
  background-color: transparent;
  border: 0px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  padding: 20px 10px;
  align-items: center;
}

.library .library__button .fa {
  font-size: 20px;
  margin-right: 10px;
  font-weight: 300;
  padding-right: 8px;
}

.library .library__content .fa-plus {
  margin: 24px 10px;
}

.section-playlist__podcast {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  background-color: #242424;
  color: #b3b3b3;
  font-weight: 600;
  font-size: 14px;
  margin: 8px 0px;
  padding: 16px 20px;
  border-radius: 10px;
}

.section-playlist__podcast .section__content {
  display: flex;
  flex-direction: column;
}

.section__content .text {
  padding-bottom: 14px;
  color: #fff;
}

.section__content .title {
  font-weight: 700;
}

.section__content .subtitle {
  font-weight: 500;
  font-size: 12px;
}

.section__content .section__button {
  display: flex;
  justify-content: center;
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: none;
  padding: 10px;
  border: 0px;
  width: 80%;
  margin-top: 12px;
  cursor: pointer;
  white-space: nowrap;
}

.sidebar .cookies {
  padding: 16px;
  font-size: 11px;
  gap: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 32px;
}

.sidebar .cookies a {
  color: #b3b3b3;
  white-space: normal;
  word-wrap: break-word;
  justify-content: space-between;
  font-weight: 500;
  font-size: 10px;
  text-decoration: none;
}

.sidebar .cookies a:hover {
  text-decoration: underline;
}

.languages .languages__button {
  background-color: transparent;
  border: 1px solid #878787;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  width: 170px;
  margin: 8px;
  padding: 8px;
  border-radius: 20px;
}
